
<%= @question.errors.full_messages.join(" ") %>

<%#  if @question is persisted then the form will send PATCH request by adding
 a hidden field with name_method and value 'patch'. The action url will be
 question_path(@question) (by convention). The form will prepopulate the
 fields with existing values for '@question' %>

 <%#  if @question is persisted then the form will send PATCH request by adding
  a hidden field with name_method and value 'patch'. The action url will be
  question_path(@question) (by convention). The form will prepopulate the
  fields with existing values for '@question' %>

<%= form_for @question do |f| %>
<div>
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>
<div>
  <%= f.label :body %>
  <%= f.text_area :body %>
</div>
<% if current_user.signed_in_with_twitter? %>
  <div>
    <%= f.check_box :tweet_it %> Tweet It.
  </div>
<% end %>
<div>
  <%= f.label :category_id %>
  <%= f.collection_select(:category_id, Category.order(:name), :id, :name) %>
</div>
<div>
  <%= f.collection_check_boxes(:tag_ids, Tag.order("name"), :id, :name) %>
</div>
<div>
  <%= f.submit %>
</div>

<% end %>
